:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--col_text);
  background-color: var(--col_bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --col_bg: #101010;
  --col_text: #FAFAFA;

  --size_margin: 20px;
}

body {
  margin: 0;
  display: flex;
}


.grid {
  display: grid;
  grid-template-columns: [ls] var(--size_margin) [v1] 1fr [v2] 1fr [v3] 1fr [v4] 1fr [v5] 1fr [v6] 1fr [v7] var(--size_margin) [rs];
}

.grid-item {
  grid-column: v1/v7;

}

.grid-item-whole {
  grid-column: ls/rs;

}
